.rewards-page {
  background-color: #fbfafc;
  padding: 3em 0 0 5em;
}
.cards-container {
  display: flex;
}
.reward-card {
  position: relative;
  margin-right: 32px;
  width: 256px;
  height: 439px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.card-icons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#card-icon {
  height: 64px;
}
.card-title {
  padding: 0 1em;
  margin: 0.5em 0em;
  font-size: 22px;
  font-weight: 400;
  color: #333333;
}
.card-section {
  padding: 0 1em;
  margin: 1.5em 0;
}
#card-section-label {
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  color: #869aac;
}
#card-section-info {
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: #333333;
}
#card-section-apy {
  font-size: 15px;
  line-height: 16px;

  color: #42b051;
}
.card-calender-label {
  display: flex;
}
.card-calender-icon {
  width: 12px;
  margin-right: 0.2em;
}
.button-container {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-button {
  width: 224px;
  height: 48px;
  left: 16px;
  top: 375px;
  color: #fff;
  background: #0f273c;
  border-radius: 100px;
  transition: 0.5s;
}
.rewards-section {
  margin-bottom: 3em;
}
.card-button:hover {
  background: #283e52;
}
.rewards-section-title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#rewards-section-icon {
  width: 48px;
  margin-right: 0.5em;
}
#rewards-section-label {
  font-size: 22px;
  line-height: 21px;

  color: #333333;
}

.rewards-headline h1 {
  font-size: 30px;
  line-height: 29px;
  margin-bottom: 0.5em;
  color: #333333;
}

.rewards-headline p {
  width: 544px;
  height: 125px;
  font-size: 18px;
  line-height: 25px;
}
.rewards-headline {
  margin-bottom: 3em;
}
